/* stylelint-disable */
:export {
  blue: var(--zati-color-blue);
  greyLightest: var(--zati-color-grey-lightest);
  greyLighter: var(--zati-color-grey-lighter);
  greyLight: var(--zati-color-grey-light);
  grey: var(--zati-color-grey);
  greyDark: var(--zati-color-grey-dark);
  greyDarkest: var(--zati-color-grey-darkest);
  purple: var(--zati-color-purple);
  purpleDark: var(--zati-color-purple-dark);
  purpleDarker: var(--zati-color-purple-darker);
  purpleDarkest: var(--zati-color-purple-darkest);
  purpleLight: var(--zati-color-purple-light);
  purpleLightest: var(--zati-color-purple-lightest);
  red: var(--zati-color-red);
  yellow: var(--zati-color-yellow);
  white: var(--zati-color-white);

  text: var(--zati-color-grey-darkest);
}
