/* stylelint-disable */
:export {
  dimensionYNarrow: var(--dimensionYNarrow);
  dimensionYRegular: var(--dimensionYRegular);
  dimensionYWide: var(--dimensionYWide);
  spacerxxs: var(--spacer-xxs);
  spacerxs: var(--spacer-xs);
  spacers: var(--spacer-s);
  spacerm: var(--spacer-m);
  spacerl: var(--spacer-l);
  spacerxl: var(--spacer-xl);
  spacerxxl: var(--spacer-xxl);
}
